node_modules/
__pycache__/
.env
frontend/Vue-Project/dist/
backend/JavaProject.code-workspace
UAB420.code-workspace
global-bundle.pem
backend/JavaProject.code-workspace
sshkey
sshkey.pub
runBackendServerLocal.sh
